<cdk-virtual-scroll-viewport class="container" itemSize="210">
  <h1>Welcome at giveMeSomeArtBaby.</h1>
  <h3>This is a Python art project made with <span style='color: #dc322f;'>❤</span> by <a href="http://github.com/EnzDev/giveMeSomeArtBaby">EnzDev</a>.</h3>
  <div class="line" *cdkVirtualFor="let last = last; let line of groupedImages">
    <img (click)="select(_)" style="height: 200px;"
    src="http://gmsab.s3.nl-ams.scw.cloud/{{_.url}}"
    class="picture" *ngFor="let _ of line">
    <span *ngIf="last" > {{ loadmore() }} Loading more...</span>
  </div>
</cdk-virtual-scroll-viewport>
<app-viewer (disabled)="updateFromChild($event)" [image]="selected"></app-viewer>
